@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #009179;
  --accent: #006A58;
  --stonetone: #E7E1C6;
  --textprimary: #3C3B35;
}

/* small helpers to ensure accessible focus */
.focus-ring:focus{
  outline: 2px solid rgba(0,0,0,0.12);
  outline-offset: 2px;
}

body{
  color: var(--textprimary);
}
